<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" [(ngModel)]="user.userName" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" [(ngModel)]="user.password" class="fadeIn third" name="login" placeholder="password">
      <button type="submit" (click)="login()" class="fadeIn fourth btn btn-success" value="Log In">Login</button>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
